In [1]:
from pyspark.sql import SparkSession

In [2]:
# Caminho para o jar do sqlite
caminho_jar_sqlite = "../drivers/sqlite-jdbc-3.44.1.0.jar"

# Criando uma sessão spark
spark = SparkSession.builder.appName("modelling").config("spark.jars", caminho_jar_sqlite).getOrCreate()

23/11/29 11:15:46 WARN Utils: Your hostname, daniel-VJFE43F11X-XXXXXX resolves to a loopback address: 127.0.1.1; using 192.168.0.157 instead (on interface wlo1)
23/11/29 11:15:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/11/29 11:15:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/29 11:15:49 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
# Lendo o arquivo csv
dados = spark.read.csv("../data/raw/chamada_regular_sisu_2022_1.csv", header=True, sep="|", encoding="latin1")

In [4]:
# Observando o estado inicial dos dados
dados.show(5)

23/11/29 11:16:01 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----+------+-----+---------------+----------+--------------------+---------+------+-------------+--------------------+---------+----------------+------------+--------------------+-----------+-------+----------------+-------+---------------------+------------------+---------------------+----------------+------+-------+-------+------+------+-------------+--------------+--------------+-------------+-------------+------------+-------------+--------------+--------------------+----+---------------+------------+-------------------+-----+------+-------+-------+------+------+---------------+----------------+----------------+---------------+---------------+--------------+----------+-------------+--------+--------------+
| ANO|EDICAO|ETAPA|       DS_ETAPA|CODIGO_IES|            NOME_IES|SIGLA_IES|UF_IES|CODIGO_CAMPUS|         NOME_CAMPUS|UF_CAMPUS|MUNICIPIO_CAMPUS|CODIGO_CURSO|          NOME_CURSO|       GRAU|  TURNO|DS_PERIODICIDADE|TP_COTA|TIPO_MOD_CONCORRENCIA|  MOD_CONCORRENCIA|QT_VAGAS_CONCORRENCIA|PERCENTUAL_BONUS|PESO_L|PESO_CH|PESO_CN|PESO_M|PESO_R|NOTA_MINIMA_L|NOTA_MINIMA_CH|NOTA_MINIMA_CN|NOTA_MINIMA_M|NOTA_MINIMA_R|MEDIA_MINIMA|          CPF|INSCRICAO_ENEM|            INSCRITO|SEXO|DATA_NASCIMENTO|UF_CANDIDATO|MUNICIPIO_CANDIDATO|OPCAO|NOTA_L|NOTA_CH|NOTA_CN|NOTA_M|NOTA_R|NOTA_L_COM_PESO|NOTA_CH_COM_PESO|NOTA_CN_COM_PESO|NOTA_M_COM_PESO|NOTA_R_COM_PESO|NOTA_CANDIDATO|NOTA_CORTE|CLASSIFICACAO|APROVADO|     MATRICULA|
+----+------+-----+---------------+----------+--------------------+---------+------+-------------+--------------------+---------+----------------+------------+--------------------+-----------+-------+----------------+-------+---------------------+------------------+---------------------+----------------+------+-------+-------+------+------+-------------+--------------+--------------+-------------+-------------+------------+-------------+--------------+--------------------+----+---------------+------------+-------------------+-----+------+-------+-------+------+------+---------------+----------------+----------------+---------------+---------------+--------------+----------+-------------+--------+--------------+
|2022|     1|    4|CHAMADA REGULAR|       593|CENTRO FEDERAL DE...| CEFET/RJ|    RJ|         1663|CEFET-RJ - MARIA ...|       RJ|  Rio de Janeiro|     1441998|SISTEMAS DE INFOR...|Bacharelado|Noturno|       Semestral|   NULL|                    A|Ampla concorrência|                   15|            NULL|     1|      1|      2|     4|     3|        453,8|         444,7|         453,3|        438,4|          300|      418,04|XXX.015687-XX|  211XXXXXX424|ABRAAO CARDOSO DO...|   M|     20/08/1979|          RJ|       Belford Roxo|    2| 564,8|  600,5|  616,9| 711,1|   580|          564,8|           600,5|          1233,8|         2844,4|           1740|        634,86|    718,99|           61|       N|      PENDENTE|
|2022|     1|    4|CHAMADA REGULAR|       593|CENTRO FEDERAL DE...| CEFET/RJ|    RJ|         1663|CEFET-RJ - MARIA ...|       RJ|  Rio de Janeiro|     1441998|SISTEMAS DE INFOR...|Bacharelado|Noturno|       Semestral|   NULL|                    A|Ampla concorrência|                   15|            NULL|     1|      1|      2|     4|     3|        453,8|         444,7|         453,3|        438,4|          300|      418,04|XXX.781997-XX|  211XXXXXX857|    ADHAM GREG DIEHL|   M|     01/04/1986|          RJ|     Rio de Janeiro|    1|   650|  669,9|  618,3| 698,7|   640|            650|           669,9|          1236,6|         2794,8|           1920|        661,03|    718,99|           45|       N|      PENDENTE|
|2022|     1|    4|CHAMADA REGULAR|       593|CENTRO FEDERAL DE...| CEFET/RJ|    RJ|         1663|CEFET-RJ - MARIA ...|       RJ|  Rio de Janeiro|     1441998|SISTEMAS DE INFOR...|Bacharelado|Noturno|       Semestral|   NULL|                    A|Ampla concorrência|                   15|            NULL|     1|      1|      2|     4|     3|        453,8|         444,7|         453,3|        438,4|          300|      418,04|XXX.040767-XX|  211XXXXXX696|ALEX SANDRO DA CO...|   M|     31/01/2004|          RJ|    Duque de Caxias|    2| 618,7|  602,2|  666,3|   679|   880|          618,7|           602,2|          1332,6|           2716|           2640|        719,05|    718,99|           14|       S|NÃO COMPARECEU|
|2022|     1|    4|CHAMADA REGULAR|       593|CENTRO FEDERAL DE...| CEFET/RJ|    RJ|         1663|CEFET-RJ - MARIA ...|       RJ|  Rio de Janeiro|     1441998|SISTEMAS DE INFOR...|Bacharelado|Noturno|       Semestral|   NULL|                    A|Ampla concorrência|                   15|            NULL|     1|      1|      2|     4|     3|        453,8|         444,7|         453,3|        438,4|          300|      418,04|XXX.630087-XX|  211XXXXXX981|  ANDRE LOPES BIONDE|   M|     06/05/2000|          RJ|     Rio de Janeiro|    2| 543,6|  514,6|  455,5| 662,9|   520|          543,6|           514,6|             911|         2651,6|           1560|        561,89|    718,99|           90|       N|      PENDENTE|
|2022|     1|    4|CHAMADA REGULAR|       593|CENTRO FEDERAL DE...| CEFET/RJ|    RJ|         1663|CEFET-RJ - MARIA ...|       RJ|  Rio de Janeiro|     1441998|SISTEMAS DE INFOR...|Bacharelado|Noturno|       Semestral|   NULL|                    A|Ampla concorrência|                   15|            NULL|     1|      1|      2|     4|     3|        453,8|         444,7|         453,3|        438,4|          300|      418,04|XXX.802497-XX|  211XXXXXX762|ANDRE LUIZ DE SOU...|   M|     20/09/1997|          RJ|          Nilópolis|    2| 637,8|  741,4|  595,4| 671,7|   640|          637,8|           741,4|          1190,8|         2686,8|           1920|        652,44|    718,99|           51|       N|      PENDENTE|
+----+------+-----+---------------+----------+--------------------+---------+------+-------------+--------------------+---------+----------------+------------+--------------------+-----------+-------+----------------+-------+---------------------+------------------+---------------------+----------------+------+-------+-------+------+------+-------------+--------------+--------------+-------------+-------------+------------+-------------+--------------+--------------------+----+---------------+------------+-------------------+-----+------+-------+-------+------+------+---------------+----------------+----------------+---------------+---------------+--------------+----------+-------------+--------+--------------+
only showing top 5 rows

In [5]:
# Checando o schema dos dados
dados.printSchema()

root
 |-- ANO: string (nullable = true)
 |-- EDICAO: string (nullable = true)
 |-- ETAPA: string (nullable = true)
 |-- DS_ETAPA: string (nullable = true)
 |-- CODIGO_IES: string (nullable = true)
 |-- NOME_IES: string (nullable = true)
 |-- SIGLA_IES: string (nullable = true)
 |-- UF_IES: string (nullable = true)
 |-- CODIGO_CAMPUS: string (nullable = true)
 |-- NOME_CAMPUS: string (nullable = true)
 |-- UF_CAMPUS: string (nullable = true)
 |-- MUNICIPIO_CAMPUS: string (nullable = true)
 |-- CODIGO_CURSO: string (nullable = true)
 |-- NOME_CURSO: string (nullable = true)
 |-- GRAU: string (nullable = true)
 |-- TURNO: string (nullable = true)
 |-- DS_PERIODICIDADE: string (nullable = true)
 |-- TP_COTA: string (nullable = true)
 |-- TIPO_MOD_CONCORRENCIA: string (nullable = true)
 |-- MOD_CONCORRENCIA: string (nullable = true)
 |-- QT_VAGAS_CONCORRENCIA: string (nullable = true)
 |-- PERCENTUAL_BONUS: string (nullable = true)
 |-- PESO_L: string (nullable = true)
 |-- PESO_CH: string (nullable = true)
 |-- PESO_CN: string (nullable = true)
 |-- PESO_M: string (nullable = true)
 |-- PESO_R: string (nullable = true)
 |-- NOTA_MINIMA_L: string (nullable = true)
 |-- NOTA_MINIMA_CH: string (nullable = true)
 |-- NOTA_MINIMA_CN: string (nullable = true)
 |-- NOTA_MINIMA_M: string (nullable = true)
 |-- NOTA_MINIMA_R: string (nullable = true)
 |-- MEDIA_MINIMA: string (nullable = true)
 |-- CPF: string (nullable = true)
 |-- INSCRICAO_ENEM: string (nullable = true)
 |-- INSCRITO: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- DATA_NASCIMENTO: string (nullable = true)
 |-- UF_CANDIDATO: string (nullable = true)
 |-- MUNICIPIO_CANDIDATO: string (nullable = true)
 |-- OPCAO: string (nullable = true)
 |-- NOTA_L: string (nullable = true)
 |-- NOTA_CH: string (nullable = true)
 |-- NOTA_CN: string (nullable = true)
 |-- NOTA_M: string (nullable = true)
 |-- NOTA_R: string (nullable = true)
 |-- NOTA_L_COM_PESO: string (nullable = true)
 |-- NOTA_CH_COM_PESO: string (nullable = true)
 |-- NOTA_CN_COM_PESO: string (nullable = true)
 |-- NOTA_M_COM_PESO: string (nullable = true)
 |-- NOTA_R_COM_PESO: string (nullable = true)
 |-- NOTA_CANDIDATO: string (nullable = true)
 |-- NOTA_CORTE: string (nullable = true)
 |-- CLASSIFICACAO: string (nullable = true)
 |-- APROVADO: string (nullable = true)
 |-- MATRICULA: string (nullable = true)

In [6]:
# Permitindo usar SQL nos dados
dados.createOrReplaceTempView("dados")

Os dados aparentam estar em um bom estados, onde as únicas alterações exigidas 
são a mudança do tipo de dado de algumas colunas e a substituição do "." por ","
em todos os valores de notas, além da mudança de tipo dos mesmos.

In [7]:
# Aplicando as correções
dados_transformados = spark.sql("SELECT CAST(ANO AS INT) AS ANO, \
                                CAST(EDICAO AS INT) AS EDICAO, \
                                CAST(ETAPA AS INT) AS ETAPA, \
                                DS_ETAPA, \
                                CAST(CODIGO_IES AS INT) AS CODIGO_IES, \
                                NOME_IES, \
                                SIGLA_IES, \
                                UF_IES, \
                                CAST(CODIGO_CAMPUS AS INT) AS CODIGO_CAMPUS, \
                                NOME_CAMPUS, \
                                UF_CAMPUS, \
                                MUNICIPIO_CAMPUS, \
                                CAST(CODIGO_CURSO AS INT) AS CODIGO_CURSO, \
                                NOME_CURSO, \
                                GRAU, \
                                TURNO, \
                                DS_PERIODICIDADE, \
                                CASE WHEN TP_COTA IS NULL THEN 'Não se aplica' ELSE TP_COTA END AS TP_COTA, \
                                TIPO_MOD_CONCORRENCIA, \
                                MOD_CONCORRENCIA, \
                                CAST(QT_VAGAS_CONCORRENCIA AS INT) AS QT_VAGAS_CONCORRENCIA, \
                                CAST(PERCENTUAL_BONUS AS INT) AS PERCENTUAL_BONUS, \
                                PESO_L, \
                                PESO_CH, \
                                PESO_CN, \
                                PESO_M, \
                                PESO_R, \
                                CAST(REPLACE(NOTA_MINIMA_L, ',', '.') AS FLOAT) AS NOTA_MINIMA_L, \
                                CAST(REPLACE(NOTA_MINIMA_CH, ',', '.') AS FLOAT) AS NOTA_MINIMA_CH, \
                                CAST(REPLACE(NOTA_MINIMA_CN, ',', '.') AS FLOAT) AS NOTA_MINIMA_CN, \
                                CAST(REPLACE(NOTA_MINIMA_M, ',', '.') AS FLOAT) AS NOTA_MINIMA_M, \
                                CAST(REPLACE(NOTA_MINIMA_R, ',', '.') AS FLOAT) AS NOTA_MINIMA_R, \
                                CAST(REPLACE(MEDIA_MINIMA, ',', '.') AS FLOAT) AS MEDIA_MINIMA, \
                                CPF, \
                                INSCRICAO_ENEM, \
                                INSCRITO, \
                                SEXO, \
                                CAST(TO_DATE(DATA_NASCIMENTO, 'dd/MM/yyyy') AS DATE) AS DATA_NASCIMENTO, \
                                UF_CANDIDATO, \
                                MUNICIPIO_CANDIDATO, \
                                OPCAO, \
                                CAST(REPLACE(NOTA_L, ',', '.') AS FLOAT) AS NOTA_L, \
                                CAST(REPLACE(NOTA_CH, ',', '.') AS FLOAT) AS NOTA_CH, \
                                CAST(REPLACE(NOTA_CN, ',', '.') AS FLOAT) AS NOTA_CN, \
                                CAST(REPLACE(NOTA_M, ',', '.') AS FLOAT) AS NOTA_M, \
                                CAST(REPLACE(NOTA_R, ',', '.') AS FLOAT) AS NOTA_R, \
                                CAST(REPLACE(NOTA_L_COM_PESO, ',', '.') AS FLOAT) AS NOTA_L_COM_PESO, \
                                CAST(REPLACE(NOTA_CH_COM_PESO, ',', '.') AS FLOAT) AS NOTA_CH_COM_PESO, \
                                CAST(REPLACE(NOTA_CN_COM_PESO, ',', '.') AS FLOAT) AS NOTA_CN_COM_PESO, \
                                CAST(REPLACE(NOTA_M_COM_PESO, ',', '.') AS FLOAT) AS NOTA_M_COM_PESO, \
                                CAST(REPLACE(NOTA_R_COM_PESO, ',', '.') AS FLOAT) AS NOTA_R_COM_PESO, \
                                CAST(REPLACE(NOTA_CANDIDATO, ',', '.') AS FLOAT) AS NOTA_CANDIDATO, \
                                CAST(REPLACE(NOTA_CORTE, ',', '.') AS FLOAT) AS NOTA_CORTE, \
                                CLASSIFICACAO, \
                                APROVADO, \
                                MATRICULA \
                                FROM dados")

In [8]:
# Salvando os dados transformados n formato de database
dados_transformados.write.format("jdbc") \
    .option("url", "jdbc:sqlite:{}".format("../data/processed/sisu.db")) \
    .option("dbtable", "data_sisu") \
    .mode("overwrite") \
    .save()

Py4JJavaError: An error occurred while calling o43.save.
: java.sql.SQLException: No suitable driver
	at java.sql/java.sql.DriverManager.getDriver(DriverManager.java:298)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$2(JDBCOptions.scala:109)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:109)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:246)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:250)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:248)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)